<div class="content">
    <div [hidden]="departureCity && destinationCity" class="exception">
        Search for flights <a [routerLink]="['/']">here</a>
    </div>
    <ng-container *ngFor="let flight of flights">
        <div class="flight" [routerLink]="['/flights/', flight.id]">
            <div class="cities">
                <p>{{flight.departureAirport.address.city.name}} -
                    {{flight.destinationAirport.address.city.name}}</p>
            </div>
            <div class="info">
                <p>Leaves {{flight.departureDate | date: 'dd.MM.yyyy, HH:mm'}} -
                    Arrives {{flight.arrivalDate | date: 'dd.MM.yyyy, HH:mm'}}</p>
                <p>Seats left: {{flight.passengerCapacity - flight.passengers.length}}</p>
            </div>
        </div>
    </ng-container>
    <div [hidden]="flights.length > 0 || !departureCity || !destinationCity" class="exception">
        We are sorry. There are currently no
        flights
        from <i>{{departureCity}}</i> to <i>{{destinationCity}}</i>
    </div>
</div>