<div class="flights-content">
    <div [hidden]="departureCity && destinationCity" class="exception">
        Search for flights <a [routerLink]="['/']">here</a>
    </div>

    <p-timeline [value]="flights" layout="horizontal">
        <ng-template pTemplate="content" let-flight>
            {{flight.departureAirport.address.city.name}}
        </ng-template>
        <ng-template pTemplate="opposite" let-flight>
            {{flight.departureDate | date: 'dd.MM.yyyy, HH:mm'}}
        </ng-template>
    </p-timeline>

    <!-- <p-table [value]="flights" styleClass="table" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th pSortableColumn="departureDate">Departure date<p-sortIcon field="departureDate"></p-sortIcon>
                    </th>
                    <th>Arrival date</th>
                    <th>Seats left</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-flight>
                <tr>
                    <td>{{flight.departureAirport.address.city.name}}</td>
                    <td>{{flight.destinationAirport.address.city.name}}</td>
                    <td>{{flight.departureDate | date: 'dd.MM.yyyy, HH:mm'}}</td>
                    <td>{{flight.arrivalDate | date: 'dd.MM.yyyy, HH:mm'}}</td>
                    <td>{{flight.passengerCapacity - flight.passengers.length}}</td>
                    <button pButton label="Book"></button>
                </tr>
            </ng-template>
        </p-table> -->
    <div [hidden]="flights.length > 0 || !departureCity || !destinationCity" class="exception">
        We are sorry. There are currently no
        flights
        from <em>{{departureCity}}</em> to <em>{{destinationCity}}</em> at this date
    </div>
</div>