<div class="content">
    <ng-container *ngFor="let flight of flights">
        <div class="flight" [routerLink]="['/flights/', flight.id]">
            <div class="cities">
                <p>{{flight.departureAirport.address.city.name}} -
                    {{flight.destinationAirport.address.city.name}}</p>
            </div>
            <div class="info">
                <p>Leaves {{flight.departureDate | date: 'dd.MM.yyyy, HH:mm'}} -
                    Arrives {{flight.arrivalDate | date: 'dd.MM.yyyy, HH:mm'}}</p>
                <p>Seats left: {{flight.passengerCapacity - flight.passengers.length}}</p>
            </div>
        </div>
    </ng-container>
</div>