.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.airport {
    width: 80%;
    margin-top: 40px;
    background-color: #CAC9EE;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewY(1deg);
}

.flight:hover {
    cursor: pointer;
}

.cities {
    width: 30%;
    padding: 30px;
}

.info {
    background-color: #050423;
    width: 80%;
    padding: 30px;
    color: #CAC9EE;
    transition: all ease-in-out 200ms;
    font-size: 17px;
    letter-spacing: 1px;
}

.info:hover {
    transform: rotate(1deg);
}


@media only screen and (max-width: 900px) {
    .flight {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cities {
        width: 100%;
        padding: 30px;
    }

    .info {
        width: 100%;
        padding: 30px;
    }

}