.create-airport-dialog {
    width: 500px;
}

.create-airport-dialog .p-dialog-header {
    background-color: #CAC9EE !important;
    color: #050423 !important;
}

.create-airport-dialog .p-dialog-header .p-dialog-header-icons .p-dialog-header-close {
    color: #050423 !important;
}

.create-airport-dialog .p-dialog-header .p-dialog-header-icons .p-dialog-header-close:hover {
    background-color: #050423 !important;
    color: #CAC9EE !important;
}

.create-airport-dialog .p-dialog-content {
    background-color: #CAC9EE !important;
    color: #050423 !important;
}

.create-airport-dialog .p-dialog-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-airport-dialog .p-dialog-content form input {
    width: 100%;
    border: 1px solid #050423;
    background-color: #CAC9EE;
    outline: none;
    height: 40px;
    font-size: 15px;
    text-indent: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.create-airport-dialog .region-dropdown.p-dropdown,
.region-dropdown.p-dropdown:not(:focus) {
    width: 100%;
    background-color: #CAC9EE;
    outline: none;
    box-shadow: none;
    border: 1px solid #050423;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
    text-indent: 4px;
}

.p-dropdown-items-wrapper {
    background-color: #CAC9EE;
}

.region-dropdown.p-dropdown .p-dropdown-label.p-inputtext {
    font-size: 15px;
    text-indent: 4px;
    text-transform: none;
    font-weight: bold;
    padding: 0;

    font-family: 'Catamaran', sans-serif;

}

.region-dropdown.p-dropdown .p-dropdown-items-wrapper li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.region-dropdown.p-dropdown .p-dropdown-items-wrapper li .country-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.region-dropdown.p-dropdown .p-dropdown-items-wrapper li .fi {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.pi {
    color: #00C6C3;
}

.p-button,
.p-button:hover,
.p-button:not(:focus) {
    background-color: #00C6C3 !important;
    color: #050423 !important;
    outline: none;
    border: none;
    width: auto;
    margin: auto;
    margin-top: 20px;
    box-shadow: none;
}

.p-button .pi {
    color: #050423;
}