<p-dialog styleClass="create-airport-dialog" header="Create airport" [(visible)]="display" (onHide)="close()"
    [resizable]="false" [draggable]="false" [modal]="true" [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <label>Name</label>
        <input type="text" formControlName="name" placeholder="Name">
        <label>Number</label>
        <input type="text" formControlName="number" placeholder="Number">
        <label>Street</label>
        <input type="text" formControlName="street" placeholder="Street">
        <label>Country</label>
        <p-dropdown styleClass="region-dropdown" [options]="countries" formControlName="country" optionLabel="name"
            placeholder="Country" (onChange)="onCountrySelected($event)">
            <ng-template let-country pTemplate="selectedItem">
                <div class="country-item">
                    <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                    {{country.name}}
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                    {{country.name}}
                </div>
            </ng-template>
        </p-dropdown>
        <label>City</label>
        <p-dropdown styleClass="region-dropdown" [options]="cities" formControlName="city" optionLabel="name"
            placeholder="City">
            <ng-template let-city pTemplate="selectedItem">
                <div class="city-item">
                    {{city.name}}
                </div>
            </ng-template>
            <ng-template let-city pTemplate="item">
                <div class="country-item">
                    {{city.name}}
                </div>
            </ng-template>
        </p-dropdown>
        <button type="submit" pButton label="Create"></button>
    </form>
</p-dialog>