.create-airport-dialog {
    width: 500px;
}

.create-airport-dialog input {
    color: #131C2A;
}

.create-airport-dialog .p-dialog-header {
    background-color: #131C2A !important;
    color: #EEE8A9 !important;
}

.create-airport-dialog .p-dialog-header .p-dialog-header-icons .p-dialog-header-close {
    color: #9296F0 !important;
}

.create-airport-dialog .p-dialog-header .p-dialog-header-icons .p-dialog-header-close:hover {
    background-color: #9296F0 !important;
    color: #131C2A !important;
}

.create-airport-dialog .p-dialog-content {
    background-color: #131C2A !important;
    color: #EEE8A9 !important;
}

.create-airport-dialog .p-dialog-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-airport-dialog .p-dialog-content form input {
    width: 100%;
    border: none;
    background-color: #EEE8A9;
    outline: none;
    height: 40px;
    font-size: 15px;
    text-indent: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.create-airport-dialog .region-dropdown.p-dropdown,
.create-airport-dialog .region-dropdown.p-dropdown:not(:focus) {
    width: 100%;
    background-color: #EEE8A9;
    outline: none;
    box-shadow: none;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-indent: 4px;
}

.create-airport-dialog .p-dropdown-items-wrapper {
    background-color: #EEE8A9;
}

.create-airport-dialog .region-dropdown.p-dropdown .p-dropdown-label.p-inputtext {
    text-indent: 4px;
    text-transform: none;
    font-weight: bold;
    padding: 0;
    font-family: 'Catamaran', sans-serif;

}

.create-airport-dialog .region-dropdown.p-dropdown .p-dropdown-items-wrapper li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
}

.create-airport-dialog .region-dropdown.p-dropdown .p-dropdown-items-wrapper li .country-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-airport-dialog .region-dropdown.p-dropdown .p-dropdown-items-wrapper li .fi {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.create-airport-dialog .p-button,
.create-airport-dialog .p-button:hover,
.create-airport-dialog .p-button:not(:focus) {
    background-color: #9296F0 !important;
    color: #131C2A !important;
    border: 1px solid #131C2A !important;
    outline: none;
    width: auto;
    margin: auto;
    margin-top: 20px;
    box-shadow: none !important;
}