<video autoplay [muted]="'muted'" loop id="landingBackgroundVideo">
    <source src="../assets/landingbackground.mp4" type="video/mp4" />
</video>


<div class="content">
    <div class="booking-tab">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
            <input type="text" pInputText placeholder="Departure">
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
            <input type="text" pInputText placeholder="Arrival">
        </div>
        <div class="button">
            <button pButton type="button" label="Search Flights" icon="pi pi-search"></button>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../../../../../assets/airplane1.jpg" alt="airplane1">
            <p>Same Day Flights</p>
        </div>
        <div class="card">
            <img src="../../../../../assets/airplane2.jpg" alt="airplane2">
            <p>Group Travel</p>
        </div>
        <div class="card">
            <img src="../../../../../assets/airplane3.jpg" alt="airplane3">
            <p>Vacation package deals</p>
        </div>
    </div>
</div>