<video autoplay [muted]="'muted'" loop id="landingBackgroundVideo">
    <source src="../assets/landingbackground.mp4" type="video/mp4" />
</video>


<div class="content">
    <div class="booking-tab">
        <p>From:</p>
        <div class="booking-subtab">
            <p-dropdown styleClass="region-dropdown" [options]="countries" [(ngModel)]="selectedDepartureCountry"
                optionLabel="name" placeholder="Select departure country"
                (onChange)="onDepartureCountrySelected($event)">
                <ng-template let-country pTemplate="selectedItem">
                    <div class="country-item">
                        <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                        {{country.name}}
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                        {{country.name}}
                    </div>
                </ng-template>
            </p-dropdown>

            <p-dropdown styleClass="region-dropdown" [options]="departureCities" [(ngModel)]="selectedDepartureCity"
                optionLabel="name" placeholder="Select departure city" (onChange)="onDepartureCitySelected($event)">
                <ng-template let-city pTemplate="selectedItem">
                    <div class="city-item">
                        {{city.name}}
                    </div>
                </ng-template>
                <ng-template let-city pTemplate="item">
                    <div class="country-item">
                        {{city.name}}
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <ng-container *ngIf="departureCitySelected">
            <i class="pi pi-angle-double-down"></i>
            <p>To:</p>
            <div class="booking-subtab">
                <p-dropdown styleClass="region-dropdown" [options]="countries" [(ngModel)]="selectedDestinationCountry"
                    optionLabel="name" placeholder="Select arrival country"
                    (onChange)="onArrivalCountrySelected($event)">
                    <ng-template let-country pTemplate="selectedItem">
                        <div class="country-item">
                            <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                            {{country.name}}
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                            {{country.name}}
                        </div>
                    </ng-template>
                </p-dropdown>

                <p-dropdown styleClass="region-dropdown" [options]="arrivalCities" [(ngModel)]="selectedDestinationCity"
                    optionLabel="name" placeholder="Select arrival city">
                    <ng-template let-city pTemplate="selectedItem">
                        <div class="city-item">
                            {{city.name}}
                        </div>
                    </ng-template>
                    <ng-template let-city pTemplate="item">
                        <div class="country-item">
                            {{city.name}}
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </ng-container>

        <button type="button" (click)="submit()" pButton icon="pi pi-search" label="Search for flights"></button>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../../../../../assets/airplane1.jpg" alt="airplane1">
            <p>Same Day Flights</p>
        </div>
        <div class="card">
            <img src="../../../../../assets/airplane2.jpg" alt="airplane2">
            <p>Group Travel</p>
        </div>
        <div class="card">
            <img src="../../../../../assets/airplane3.jpg" alt="airplane3">
            <p>Vacation package deals</p>
        </div>
    </div>
</div>