#landingBackgroundVideo {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card {
    font-size: 30px;
    color: #CAC9EE;
    background-color: #050423;
    transition: ease-in-out 300ms;
}

.card p {
    padding: 10px;
}

.card:hover {
    font-size: 25px;
    cursor: pointer;
    color: #00C6C3;
}

img {
    max-width: 300px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
}

.booking-tab {
    background-color: #050423;
    padding: 50px;
    height: auto;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #CAC9EE;
}

.booking-tab p {
    font-size: 20px;
    margin-bottom: 10px;
}

.booking-tab i {
    padding: 10px;
    font-size: 40px;
    margin: auto;
    color: #CAC9EE;
}

.booking-subtab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.region-dropdown.p-dropdown,
.region-dropdown.p-dropdown:not(:focus) {
    width: 400px;
    background-color: #CAC9EE;
    outline: none;
    box-shadow: none;
    border: 1px solid #050423;
}

.region-dropdown.p-dropdown .p-dropdown-items-wrapper {
    background-color: #CAC9EE;
}

.region-dropdown.p-dropdown .p-dropdown-items-wrapper li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.region-dropdown.p-dropdown .p-dropdown-items-wrapper li .country-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.region-dropdown.p-dropdown .p-dropdown-items-wrapper li .fi {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.pi {
    color: #00C6C3;
}

.p-button,
.p-button:hover,
.p-button:not(:focus) {
    background-color: #00C6C3 !important;
    color: #050423 !important;
    outline: none;
    border: none;
    width: auto;
    margin: auto;
    margin-top: 20px;
    box-shadow: none;
}

.p-button .pi {
    color: #050423;
}

@media only screen and (max-width: 1000px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin-bottom: 50px;
    }

    .booking-subtab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}