@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

@import "~primeicons/primeicons.css";

::ng-deep * {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  font-weight: bolder;
}

#landingBackgroundVideo {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.mat {
  height: 100%;
}

.container {
  width: 100%;
  min-height: 100vh;
}