<div class="content">
    <button type="button" (click)="showCreateAirportDialog()" pButton icon="bi bi-plus-lg"
        label="Create new airport"></button>
    <ng-container *ngFor="let airport of airports">
        <div class="airport">
            <div class="title">
                <span class="airport-name">{{airport.name}}</span>
                <i class="bi bi-trash delete-icon" (click)="deleteAirport(airport.id)"></i>
            </div>
            <div class="location">
                <p>
                    <i class="bi bi-geo-alt-fill"></i>
                    No. {{airport.address.number}}, St. {{airport.address.street}},
                    {{airport.address.city.name}},
                    {{airport.address.country.name}}
                </p>
            </div>
        </div>
    </ng-container>
    <app-create-airport [display]="displayCreateAirportDialog" (output)="onOutput($event)">
    </app-create-airport>
</div>