<div class="choose-airports-content">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <label class="title">Airports from {{departureCity?.name}}, {{departureCity?.country?.name}}:</label>
        <p-listbox [options]="departureAirports" formControlName="departureAirport">
            <ng-template let-airport pTemplate="item">
                <div>{{airport.name}} Airport</div>
            </ng-template>

            <ng-template pTemplate="empty">
                <div>No airports found</div>
            </ng-template>
        </p-listbox>

        <label class="title">Airports from {{destinationCity?.name}}, {{destinationCity?.country?.name}}:</label>
        <p-listbox [options]="destinationAirports" formControlName="destinationAirport">
            <ng-template let-airport pTemplate="item">
                <div>{{airport.name}} Airport</div>
            </ng-template>

            <ng-template pTemplate="empty">
                <div>No airports found</div>
            </ng-template>
        </p-listbox>

        <button type="submit" pButton label="Next" icon="bi bi-chevron-right"></button>
    </form>
</div>