<div class="choose-cities-content">
    <div>
        <label>Departure country:</label>
        <div class="booking-subtab">
            <p-dropdown styleClass="region-dropdown" [options]="countries" [(ngModel)]="selectedDepartureCountry"
                optionLabel="name" placeholder="Select departure country"
                (onChange)="onDepartureCountrySelected($event)">
                <ng-template let-country pTemplate="selectedItem">
                    <div class="country-item">
                        <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                        {{country.name}}
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                        {{country.name}}
                    </div>
                </ng-template>
            </p-dropdown>

            <label>Departure city:</label>
            <p-dropdown styleClass="region-dropdown" [options]="departureCities" [(ngModel)]="selectedDepartureCity"
                optionLabel="name" placeholder="Select departure city" (onChange)="onDepartureCitySelected($event)">
                <ng-template let-city pTemplate="selectedItem">
                    <div class="city-item">
                        {{city.name}}
                    </div>
                </ng-template>
                <ng-template let-city pTemplate="item">
                    <div class="country-item">
                        {{city.name}}
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <ng-container *ngIf="departureCitySelected">
            <hr>
            <div class="booking-subtab">
                <label>Destination country:</label>
                <p-dropdown styleClass="region-dropdown" [options]="countries" [(ngModel)]="selectedDestinationCountry"
                    optionLabel="name" placeholder="Select destination country"
                    (onChange)="onDestinationCountrySelected($event)">
                    <ng-template let-country pTemplate="selectedItem">
                        <div class="country-item">
                            <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                            {{country.name}}
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <span class="fi fi-{{country.code.toLowerCase()}} fi"></span>
                            {{country.name}}
                        </div>
                    </ng-template>
                </p-dropdown>

                <label>Destination city:</label>
                <p-dropdown styleClass="region-dropdown" [options]="destinationCities"
                    [(ngModel)]="selectedDestinationCity" optionLabel="name" placeholder="Select destination city"
                    (onChange)="onDestinationCitySelected($event)">
                    <ng-template let-city pTemplate="selectedItem">
                        <div class="city-item">
                            {{city.name}}
                        </div>
                    </ng-template>
                    <ng-template let-city pTemplate="item">
                        <div class="country-item">
                            {{city.name}}
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <button type="button" (click)="submit()" pButton icon="bi bi-chevron-right" label="Next"
                *ngIf="destinationCitySelected"></button>
        </ng-container>
    </div>
</div>